<h2>
	Sales4Startups Lead Creator
</h2>
<div class="span3">
	<%= image_tag("salesforce-logo.png") %>
	<div id="login">
		<%= link_to "Sign in with Salesforce", "/auth/salesforce", class: "btn btn-large btn-primary" %>
	</div> 
</div>
