// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*  HEADER   */

#s4s-logo {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 200px;
	float: left;
}

.nav.pull-right {
  margin-top: 8px;
}

/*   LOGIN   */

#login {
	text-align: center;
	margin: 15px;
}